*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  height: 900px;
}

.container{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

button{
  font-family: 'Roboto', sans-serif;
  background-color: #FE775A;
  border: none;
  border-radius: 3px;
  padding: 15px;
  color: #ffffff;
}

/* header prima sezione */
.section-grey{
  background-color: #F4F9FD;
}

.section-1{
  height: 80px;
  line-height: 80px;
}

.section-1 li{
  list-style: none;
  display: inline-block;
}

.section-1 .column-left{
  float: left;
  width: 50%;
  font-size: 18px;
  color: #32495B;
}

.section-1 .column-left select{
  border: none;
  background-color: transparent;
  padding-left: 5px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.section-1 .column-left a{
  text-decoration: none;
  color: #32495B;
  border-left: 2px solid #CBD6E2;
  padding-left: 15px;
  text-transform: capitalize;
}

.section-1 .column-right{
  float: left;
  width: 50%;
  text-align: right;
}

.section-1 .column-right a{
  text-decoration: none;
  color: #00A4BD;
}

.section-1 button.login{
  background-color: transparent;
  color: #FE775A;
  border: 1px solid #FE775A;
  padding: 10px;
  margin: 0 20px;
}

.section-1 button.gethubspot{
  padding: 11px;
}
/* /header prima sezione */

/* header seconda sezione */
.section-white{
  background-color: #ffffff;
  border-top: 1px solid #000000;
}
.section-2{
  height: 80px;
  line-height: 80px;
}

.section-2 .column-left{
  float: left;
  width: 20%;
}

.section-2 .column-left img{
  vertical-align: middle;
}

.section-2 .column-right{
  float: left;
  width: 80%;
  text-align: right;
}

.section-2 .column-right li{
  list-style: none;
  display: inline-block;
}

.section-2 .column-right a{
  text-decoration: none;
  color: #32495B;
  margin-left: 25px;
}

.section-2 .column-right select{
  border: none;
  background-color: transparent;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #32495B;
}

.section-pink{
  background-color: #FFF4EF;
  height: 660px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: right;
  background-position-y: -3%;
  border-bottom: 3px solid #33475B;
}

.section-pink .banner{
  width: 30%;
}

.section-pink h1{
  color: #33475B;
  font-size: 50px;
}

.section-pink p{
  color: #33475B;
  font-weight: 400;
  font-size: 16px;
}

.section-pink button{
  display: block;
  padding: 20px 30px;
}

.section-pink small{
  color: #33475B;
}
/* /header seconda sezione */

/* header terza sezione */
.section-green{
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-bottom: 3px solid #33475B;
}
/* /header terza sezione */
