*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  height: 900px;
}

main{
  width: 100%;
  height: 3000px;
}

.container{
  width: 70%;
  margin: auto;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

button{
  font-family: 'Roboto', sans-serif;
  background-color: #FE775A;
  border: none;
  border-radius: 3px;
  padding: 15px;
  color: #ffffff;
}

/* header prima sezione */
.section-grey{
  background-color: #F4F9FD;
}

.section-1{
  height: 80px;
  line-height: 80px;
}

.section-1 li{
  list-style: none;
  display: inline-block;
}

.section-1 .column-left{
  float: left;
  width: 50%;
  font-size: 18px;
  color: #32495B;
}

.section-1 .column-left select{
  border: none;
  background-color: transparent;
  padding-left: 5px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.section-1 .column-left a{
  text-decoration: none;
  color: #32495B;
  border-left: 2px solid #CBD6E2;
  padding-left: 15px;
  text-transform: capitalize;
}

.section-1 .column-right{
  float: left;
  width: 50%;
  text-align: right;
}

.section-1 .column-right a{
  text-decoration: none;
  color: #00A4BD;
}

.section-1 button.login{
  background-color: transparent;
  color: #FE775A;
  border: 1px solid #FE775A;
  padding: 10px;
  margin: 0 20px;
}

.section-1 button.gethubspot{
  padding: 11px;
}
/* /header prima sezione */

/* header seconda sezione */
.section-white{
  background-color: #ffffff;
  border-top: 1px solid #000000;
}
.section-2{
  height: 80px;
  line-height: 80px;
}

.section-2 .column-left{
  float: left;
  width: 20%;
}

.section-2 .column-left img{
  vertical-align: middle;
}

.section-2 .column-right{
  float: left;
  width: 80%;
  text-align: right;
}

.section-2 .column-right li{
  list-style: none;
  display: inline-block;
}

.section-2 .column-right a{
  text-decoration: none;
  color: #32495B;
  margin-left: 25px;
}

.section-2 .column-right select{
  border: none;
  background-color: transparent;
  padding-left: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #32495B;
}

.section-pink{
  background-color: #FFF4EF;
  height: 660px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: right;
  background-position-y: -7%;
  border-bottom: 3px solid #33475B;
}

.section-pink .banner{
  position: absolute;
  width: 30%;
  top: 45%;
  transform: translateY(-50%);
}

.section-pink h1{
  color: #33475B;
  font-size: 50px;
}

.section-pink p{
  color: #33475B;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin: 30px 0;
}

.section-pink button{
  display: block;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.section-pink small{
  color: #33475B;
}
/* /header seconda sezione */

/* header terza sezione */
.section-green{
  width: 100%;
  height: 80px;
  background-color: #AFEBE4;
  border-bottom: 4px solid #33475B;
}
/* /header terza sezione */

/* main prima sezione */
main .sezione-1{
  background-color: #F4F9FD;
  padding: 30px 0;
}

.sezione-1 .intro{
  width: 40%;
  text-align: center;
  margin: auto;
  padding: 25px 0;
}

.sezione-1 .intro img{
  height: 200px;
}

.sezione-1 .intro h2{
  text-transform: capitalize;
  color: #33475B;
  font-size: 34px;
}

.sezione-1 .intro p{
  color: #33475B;
  font-size: 16px;
  line-height: 28px;
}
/* /main prima sezione */

/* main sezione 1 - parte prima */
.info-crm{
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 1px rgba(0, 0, 0, 0.4);
  margin: 10px 0;
  padding: 60px 30px;
}

.info-crm .colonna-1 img{
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.info-crm .colonna-1 button{
  padding: 20px 40px;
  display: block;
  margin: auto;
}

.info-crm .colonna-1{
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
}

.info-crm .colonna-2{
  float: left;
  height: 100%;
  width: 55%;
  color: #33475B;
}

.info-crm .colonna-2 p{
  line-height: 30px;
  font-size: 18px;
}

.info-crm .colonna-2 h3:first-child{
  padding-bottom: 20px;
  font-size: 24px;
  padding-bottom: 30px;
}

.info-crm .colonna-2 h3:nth-child(2n+3){
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 30px 0;
  display: inline-block;
}

.info-crm .colonna-2 hr{
  display: inline-block;
  margin-left: 40px;
  width: 70%;
  vertical-align: middle;
  border: 1px solid #899397;
}

.info-crm .colonna-2 li{
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
}

.info-crm .colonna-2 span{
  color: #33475B;
  font-family: 'Roboto', sans-serif;
  padding: 0 30px 0 15px;
  font-weight: 400;
}

.fa-check-circle{
  color: #FE775A;
}
/* /main sezione 1 - parte prima */
